<!-- nav -->
{% load static %}
{% block style %}
<style>
    @media screen and (min-width: 600px) {
        #id1nav{
            display: block;
        }
        #id2nav{
            display: none;
        }
    }
    @media screen and (max-width: 600px) {
        #id1nav{
            display: none;
        }
        #id2nav{
            display: flex;
        }
    }
    
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px;">
        <div class="container-fluid" style="background-color: #EEF7FF;">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'assets/img/Logo.png' %}" alt=".." width="110px" height="110px">
            </a>
            <div id="id1nav" class="justify-content-center" style="background-color: #EEF7FF;">
                <ul style="padding: 0%; font-size: large;">
                    <a style="text-decoration: none; color: black;" href="{% url 'all_products' %}">| Produtos |</a>
                    <a style="text-decoration: none; color: black;" href="{% url 'collection_list' %}">| Coleções |</a>
                    {% if request.user.is_authenticated %}
                    <a style="text-decoration: none; color: black;" href="{% url 'mural_comment' %}">| Comentarios |</a>
                    {% endif %}
                </ul>
            </div>
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="grey" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if request.user.user_type == 'manager' %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'manager_dashboard' %}">Dashboard</a>
                                </li>
                                <hr style="margin: 2px 0px 2px 0px;">
                                <li>
                                    <a class="dropdown-item" href="{% url 'parameters_view' %}">Parametros</a>
                                </li>
                                <hr style="margin: 2px 0px 2px 0px;">
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li>
                                    <form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="color: red ;">Sair</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#login" href="">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="id2nav" class="justify-content-center" style="background-color: #EEF7FF;">
        <ul style="padding: 0%; font-size: large;">
            <a style="text-decoration: none; color: black;" href="{% url 'all_products' %}">| Produtos |</a>
            <a style="text-decoration: none; color: black;" href="{% url 'collection_list' %}">| Coleções |</a>
            {% if request.user.is_authenticated %}
            <a style="text-decoration: none; color: black;" href="{% url 'mural_comment' %}">| Comentarios |</a>
            {% endif %}
        </ul>
    </div>
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}