<!-- nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px;">
        <div class="container-fluid" style="background-color: #EEF7FF;">
            <a class="navbar-brand" href="">
                <img src="img/Logo.png" alt=".." width="100px" height="100px">
            </a>
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="grey" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="">Configurações</a>
                            </li>
                            <li>
                                <form action="" method="">
                                    <button type="submit" class="dropdown-item" style="color: red ;">Sair</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-center" style="background-color: #EEF7FF;">
        <ul style="padding: 0%; font-size: large;">
            <a style="text-decoration: none; color: black;" href="">| Produtos |</a>
            <a style="text-decoration: none; color: black;" href="">| Comentarios |</a>
        </ul>
    </div>