{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Criar Produto</title>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Criar Produto</h2>
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_product.as_p }}
                <button type="submit" class="btn btn-success">Criar</button>
            </form>
        </div>
    </div>
{% endblock %}