{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Criar Produto</title>
{% endblock %}

{% block content %}
    <div class="row justify-content-center mb-5 mt-5">
        <div class="col-md-6">
            <h1 class="text-center" style="font-family: Monda;">Criar Produto</h1>
            <div class="p-5" style="background-color: #eef7ff; color:black; border-radius: 10px;" class="container mb-5">   
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.product_form.as_p }}
                    {{ form.product_cost_form.as_p }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" style="border-radius: 7px; background-color: #00b7ff; color: white; text-align: center;">Criar</button>
                    </div>
                </form>
            </div> 
        </div>
    </div>
{% endblock %}