{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block style %}
    <style>
        @media only screen and (max-width: 770px) {
            .media{
                flex-direction: column;
                text-align: center;
            }
            img{
                margin: 20px !important;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Coleções -->
    {% include 'users/partials/_carousel.html' %}

    <section class="py-5">
        <h1 class="text-center">Coleções</h1>
        <div class="container">
            <div class="d-flex py-5 media" style="justify-content: space-evenly">
                <div>
                    <img style="border-radius: 100%; border: 0;" src="{% static 'assets/img/frio.jpg' %}" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="{% static 'assets/img/frio.jpg' %}" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="{% static 'assets/img/frio.jpg' %}" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="{% static 'assets/img/frio.jpg' %}" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TextoFoda -->
     <section>
        <div class="container">
            <div class="row">
                
                <!-- <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> -->
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4">
                    <div class="card text-center" style="width: 22rem; height: 100%;">
                        <button style="border: 0; background-color: transparent;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card{{card.cards.id}}" style="text-decoration: none;">
                            <img src="{{product.path}}" class="card-img-top" alt="{{product.name}}">
                            <h5 style="color: black;">{{product.name}}</h5>
                            <div class="card-body">
                                <hr style="margin: 0; color: black; opacity: 1;">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div class="mt-auto" style="color: black;">
                                        <p>{{product.description}}</p>
                                        <p style="column-rule: green;">R${{price}}</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
     </section>

    <!-- Comments -->
    <section>
    
    </section>
{% endblock %}