{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block style %}
    <style>
        @media only screen and (max-width: 770px) {
            .media{
                flex-direction: column;
                text-align: center;
            }
      
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Coleções -->
    <section class="py-5">
        <h1 class="text-center">Tela inicial</h1>
        <div class="container">
            <h1>Coleção</h1>
            <div>
                <div class="d-flex row justify-content-center">
                    {% for collection in collections %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-2">
                      <a href="{% url 'collection_detail' collection.id %}" style="text-decoration: none; color: black;">
                      <div class="card" style="height: 400px;">
                        <div class="card-body d-flex row">
                          <div class="d-flex justify-content-center">
                            <img src="{{ collection.image.url }}" alt="" width="150px" height="150px" style="border-radius: 50%;">
                          </div>
                          <div>
                            <h5 class="card-title">{{collection.name}}</h5>
                            <p class="card-text">{{collection.description}}</p>
                          </div>
                        </div>
                      </div>
                      </a>
                    </div>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </section>
    <!-- TextoFoda -->
    <section class="py-5">
        <h1 class="text-center">Card</h1>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-2">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'product_single' product.id %}" style="text-decoration:none; color: black;">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ product.path.url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                              <h5 class="card-title">{{product.name}}</h5>
                              <p class="card-text">{{product.description}}</p>
                              <a href="{% url 'product_single' product.id %}" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div> 
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <section>
      
     </section>

    <!-- Comments -->
    <section>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="card col-12 col-md-12 col-lg-10">
				<div class="card-wrapper">
					<div class="card-box align-center">
						<h1 class="card-title mbr-fonts-style mb-4 display-1"><strong>Encontre O Estilo Que Destaca A Sua Essência</strong></h1>
						<p class="mbr-text mbr-fonts-style mb-4 display-7">Explore nosso catálogo:</p>
						<div class="mbr-section-btn mt-4"><a class="btn btn-primary display-7" href="https://mobiri.se">Ir Para Catálogo</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;"><a href="https://mobiri.se/3387809" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center;" class="display-7">&#8204;</p><a style="z-index:1" href="https://mobirise.com/builder/ai-website-creator.html">Free AI Website Creator</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>

{% endblock %}
