<div class="modal fade" id="parameter" tabindex="-1" aria-labelledby="editproductLabel{{ product.id }}" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content px-4">
          <div class="modal-header">
              <h5 class="modal-title" id="editproductLabel{{ product.id }}">Editar Produto: {{ product.name }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="{% url 'update_parameters'  %}">
              {% csrf_token %}

              <label for="name">Impostos:</label>
              <input type="text" name="impostos" value="{{parameter.impostos}}" class="form-control my-2">

              <label for="name">Retirada:</label>
              <input type="text" name="retirada" value="{{parameter.retirada}}" class="form-control my-2">

              <label for="name">Frete:</label>
              <input type="text" name="frete" value="{{parameter.frete}}" class="form-control my-2">

              <label for="name">Comissao:</label>
              <input type="text" name="comissao" value="{{parameter.comissao}}" class="form-control my-2">

              <label for="name">Despesas Financeiras</label>
              <input type="text" name="despesas_financeiras" value="{{parameter.despesas_financeiras}}" class="form-control my-2">

              <label for="name">Despesas Comerciais:</label>
              <input type="text" name="despesas_comerciais" value="{{parameter.despesas_comerciais}}" class="form-control my-2">

              <label for="name">Lucro:</label>
              <input type="text" name="lucro" value="{{parameter.lucro}}" class="form-control my-2">

              <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  
                  <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
          </form>   
      </div>
  </div>
</div>