<div class="modal fade" id="parametersModal" tabindex="-1" aria-labelledby="parametersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="parametersModalLabel">Editar Parâmetros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            {% if form.errors %}
              <div class="alert alert-danger">
                  <ul>
                      {% for field in form %}
                          {% for error in field.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      {% endfor %}
                  </ul>
              </div>
            {% endif %}
            {{ form.as_p }}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>