<div class="modal fade" id="type-{{ type.id }}" tabindex="-1" aria-labelledby="editTypeLabel{{ type.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTypeLabel{{ type.id }}">Editar Tipo: {{ type.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'type_update' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input type="hidden" name="type_id" value="{{ type.id }}">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>