<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Home</title>
    <style>
        @media only screen and (max-width: 770px) {
            .media{
                flex-direction: column;
                text-align: center;
            }
            img{
                margin: 20px !important;
            }
        }
    </style>
</head>
<body> 
    <!-- Coleções -->
    <section class="py-5">
        <h1 class="text-center">Coleções</h1>
        <div class="container">
            <div class="d-flex py-5 media" style="justify-content: space-evenly">
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TextoFoda -->
     <section>
        <div class="container">
            <div class="d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
            </div>
        </div>
     </section>

    <!-- Comments -->
    <section>
    
    </section>

    <!-- Footer -->
    <section>
    </section>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>