{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>base</title>
    {% endblock %}

    {% block style %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

    {% include 'users/partials/_nav.html' %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    {% include 'users/partials/_register.html' %}
    {% include 'users/partials/_login.html' %}

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>