{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block style %}
    <style>
        .media{
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
        }
        @media only screen and (max-width: 770px) {
            .row{
                flex-direction: column;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <section>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="mx-auto media col-6">
                    <a href="{% url 'dash_products' %}" style="text-decoration: none;">
                        <div class="card text-center" style="width: 18rem; background-color: #eef7ff; border-radius: 20px;" >
                            <div class="card-body" style="padding: 45px;">
                                <div>
                                    <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                        <g>
                                            <path fill="blue" d="M59,0H5C2.789,0,1,1.789,1,4v20c0,2.22,1.208,4.152,3,5.19V60c0,2.211,1.789,4,4,4h48c2.211,0,4-1.789,4-4
                                                V29.19c1.792-1.038,3-2.971,3-5.19V4C63,1.789,61.211,0,59,0z M51,2v22c0,2.209-1.791,4-4,4s-4-1.791-4-4V2H51z M41,2v22
                                                c0,2.209-1.791,4-4,4s-4-1.791-4-4V2H41z M31,2v22c0,2.209-1.791,4-4,4s-4-1.791-4-4V2H31z M21,2v22c0,2.209-1.791,4-4,4
                                                s-4-1.791-4-4V2H21z M3,4c0-1.104,0.896-2,2-2h6v22c0,2.209-1.791,4-4,4s-4-1.791-4-4V4z M12,62V38h12v10h-1c-0.553,0-1,0.447-1,1
                                                s0.447,1,1,1h1v12H12z M58,60c0,1.104-0.896,2-2,2H26V37c0-0.516-0.447-1-1-1H11c-0.553,0-1,0.447-1,1v25H8c-1.104,0-2-0.896-2-2
                                                V29.91C6.326,29.965,6.658,30,7,30c2.088,0,3.926-1.068,5-2.687C13.074,28.932,14.912,30,17,30s3.926-1.068,5-2.687
                                                C23.074,28.932,24.912,30,27,30s3.926-1.068,5-2.687C33.074,28.932,34.912,30,37,30s3.926-1.068,5-2.687
                                                C43.074,28.932,44.912,30,47,30s3.926-1.068,5-2.687C53.074,28.932,54.912,30,57,30c0.342,0,0.674-0.035,1-0.09V60z M57,28
                                                c-2.209,0-4-1.791-4-4V2h6c1.104,0,2,0.896,2,2v20C61,26.209,59.209,28,57,28z"/>
                                            <path fill="blue" d="M53,36H29c-0.553,0-1,0.447-1,1v20c0,0.553,0.447,1,1,1h24c0.553,0,1-0.447,1-1V37
                                                C54,36.447,53.553,36,53,36z M52,56H30V38h22V56z"/>
                                            <path fill="blue" d="M48.293,42.707C48.488,42.902,48.744,43,49,43s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414
                                                l-1-1c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L48.293,42.707z"/>
                                            <path fill="blue" d="M48.293,47.707C48.488,47.902,48.744,48,49,48s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414
                                                l-6-6c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L48.293,47.707z"/>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3" style="color: blue;">Produtos</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto media col-6">
                    <a href="{% url 'collection_dash' %}" style="text-decoration: none;">
                        <div class="card text-center" style="width: 18rem; background-color: #eef7ff; color: white; border-radius: 20px;">
                            <div class="card-body" style="padding: 45px;">
                                <div>
                                    <svg width="100" height="100" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5 5.5H11.5V12.5H18.5V5.5ZM10 4V14H20V4H10Z" fill="blue"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8H8.5V15.5H16V17H7V8Z" fill="blue"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 11H5.5V18.5H13V20H4V11Z" fill="blue"/>
                                    </svg>
                                </div>
                                <h3 class="card-text py-2" style="color: blue;">Coleções</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto media col-6">

                    <a href="{% url 'dashboard_user' %}" style="text-decoration: none;">
                        <div class="card text-center" style="width: 18rem; background-color: #eef7ff; border-radius: 20px;">
                            <div class="card-body" style="padding: 45px;">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="blue" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3" style="color: blue;">Usuários</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto media col-6">
                    <a href="{% url 'type_list' %}" style="text-decoration: none;">
                        <div class="card text-center" style="width: 18rem; background-color: #eef7ff; color: white; border-radius: 20px;">
                            <div class="card-body" style="padding: 45px;">
                                <div>
                                    <svg height="100" width="100" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"  xml:space="preserve">
                                        <style type="text/css">
                                            .st0{fill:blue;}
                                        </style>
                                        <g>
                                            <path class="st0" d="M447.248,419.319L512,400.868L416.952,96.149V37.068H256H95.033v59.082L0,400.868l64.752,18.451l-2.62,15.818
                                                l70.178,8.657l-1.583,14.702l72.02,4.692v11.744H256h53.253v-11.744l72.02-4.692l-1.584-14.702l70.178-8.657L447.248,419.319z
                                                M114.147,56.195H256h141.838v34.571H256H114.147V56.195z M427.415,418.643l-54.994,6.808l-16.206-110.362l-13.515,1.986
                                                l16.148,110.031l-0.201,0.029l1.482,13.572l-57.21,3.742l-10.982-118.408l-13.601,1.259l11.802,127.18v1.324H256h-34.139v-1.324
                                                l11.802-127.18l-13.601-1.259L209.08,444.449l-57.211-3.742l1.468-13.572l-0.186-0.029l16.134-110.031l-13.515-1.986
                                                l-16.191,110.362l-55.009-6.808l24.338-119.746l-13.386-2.734l-21.517,105.9l-49.928-14.191l88.414-283.447H256h143.508
                                                l88.399,283.447l-49.928,14.191l-21.517-105.9l-13.385,2.734L427.415,418.643z"/>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="card-text py-3" style="color: blue;">Tipos</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}