{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <div class="text-center mt-4">
        <h1>
            Sobre a High Fashion
        </h1>
    </div>
    <hr style="color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mt-4 text-center">
                <img src="assets/img/high.png" class="img-fluid" width="300px" height="300px" alt="High_Fashion_logo">
            </div>
            <div class="col-lg-5 mt-5 pt-4" >
                <h5>
                    O High Fashion é um site dedicado aos entusiastas da moda de alto padrão, 
                    oferecendo uma experiência única 
                    para quem busca as últimas tendências e inspirações no mundo da moda. 
                    Com um design elegante e sofisticado, o site reflete a essência das 
                    marcas de luxo que ele representa.
                </h5>
            </div>
        </div>
    </div>
{% endblock %}