{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block style %}
    <style>
        @media only screen and (max-width: 770px) {
            .media{
                flex-direction: column;
                text-align: center;
            }
            img{
                margin: 20px !important;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Coleções -->
    <section class="py-5">
        <h1 class="text-center">Coleções</h1>
        <div class="container">
            <div class="d-flex py-5 media" style="justify-content: space-evenly">
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
                <div>
                    <img style="border-radius: 100%; border: 0;" src="assets/img/frio.jpg" alt="..." width="150px" height="150px">
                    <div class="text-center py-2">
                        <h5>Coleção1</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TextoFoda -->
     <section>
        <div class="container">
            <div class="d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
            </div>
        </div>
     </section>

    <!-- Comments -->
    <section>
    
    </section>

    <!-- Footer -->
    <section>
    </section>
{% endblock %}