{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>High Fashion</title>
{% endblock %}

{% block style %}
    <style>
        .media{
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
        }
        @media only screen and (max-width: 770px) {
            .row{
                flex-direction: column;
            }
        }
        .btn-green{
        background-color: #045CAC;
        
      }
    </style>
{% endlbock %}

{% block content %}
    <section class="py-5">
        <div class="header position-relative mb-5">
            <h1 class="position-absolute top-0 start-50 translate-middle-x" style="font-family: Modestic;">USUÁRIOS</h1>
            <div class="position-absolute top-0 end-0">
                <a href="{% url 'user_add' %}" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg></a>
            </div>
        </div>    
        <div class="d-flex justify-content-center">
            <div style="width: 50%;">
                <form class="d-flex" method="get" action="{% url 'user_list' %}" role="search">
                    <input class="form-control me-2" type="search" name="search" placeholder="Pesquisar" aria-label="Search">
                    <button style="border-color: #045CAC;" class="btn btn-green btn-outline-success" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-search" viewBox="0 0 16 18">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>
            </div>  
        </div>
        <div class="container mt-4">
            <div class="">
                <div class="row align-items-center">
                    {% for user in users %}
                    <div class="col-sm-4 mb-3 mb-sm-0 pb-3">
                        <div class="card border-2">
                          <div class="card-body text-end">
                            <span class="badge text-bg-secondary">{{ user.get_user_type_display }}</span>
                            <p class="f text-start mb-1" style="font-size: 12px; color: dimgray;">Nome:</p>
                            <h5 class="card-title text-start">{{ user.first_name }}</h5>                           
                            <p class="f text-start mb-1" style="font-size: 12px; color: dimgray;">Email:</p>
                            <h6 class="card-title text-start">{{ user.email }}</h6>
                            <hr>
                            <p class="f text-start mb-1" style="font-size: 12px; color: dimgray;">Ações:</p>
                            <a href="{% url 'user_edit' user.id %}" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg></a>
                              <form action="{% url 'user_delete' user.id %}" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                                {% csrf_token %}
                                <button type="submit" class="btn "><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                  </svg></button>
                            </form>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>    
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
                {% if users.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ users.number }}</a></li>
                {% if users.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ users.paginator.num_pages }}">{{ users.paginator.num_pages }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Próxima</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
    {% block script %}
        <script>
            function confirmDelete() {
                return confirm("Tem certeza que deseja excluir este usuário?");
            }
        </script>
    {% endblock %}
{% endblock %}